@import "../../../../../assets/styles/button.scss";

:host {
  @apply sm:grid sm:grid-flow-col sm:grid-rows-2 sm:grid-cols-3 sm:gap-x-4 sm:gap-y-0;
  @apply md:flex md:flex-nowrap md:justify-start md:content-center md:items-center;
}

.order-item-photo-link {
  box-sizing: border-box;
  @apply block p-2 bg-white;
  @apply sm:row-span-2 sm:col-span-1;
  @apply md:row-auto md:col-auto md:w-min md:p-2;
  > .order-item-photo {
    margin: auto;
    height: 100%;
  }
}

.order-item-product-info {
  @apply sm:col-span-2;
  @apply md:flex-grow;
}

.order-item-info {
  min-width: 240px;
  @apply flex flex-col justify-end items-end content-end;
  @apply sm:col-span-2;

  > .order-item-price-info {
    @apply flex justify-end content-center items-center mb-2;

    > .order-item-price {
      transform: scale(0.75);
      transform-origin: top;
      padding-top: 0.5rem;
      @apply text-gray-500 font-normal;
    }
  }

  > .order-item-actions {
    max-width: 240px;
  }
}

@media (min-width: 400px) and (max-width: 640px) {
  :host {
    @apply grid grid-flow-col grid-rows-2 grid-cols-4 gap-1;
  }

  .order-item-photo-link {
    height: 100px;
    width: 100%;
    @apply col-span-1;
  }

  .order-item-product-info {
    @apply col-span-3 col-start-2;
  }

  .order-item-info {
    @apply col-span-4;
  }
}

@media (max-width: 400px) {
  .order-item-photo-link {
    height: 100px;
    width: 100%;
  }
  .order-item-product-info {
    @apply m-0 mb-2;
  }
  .order-item-info {
    margin: auto;
    width: 240px;
  }
}

@media (min-width: 768px) {
  .order-item-photo-link {
    height: 100px;
    width: auto;
    aspect-ratio: 1/1;
  }
}
