<a [routerLink]="['/products', product.id]" class="product-photo-link">
  <app-product-photo [url]="product.image"></app-product-photo>
</a>
<p class="product-category">{{ product.category }}</p>
<p class="product-title">
  <a [routerLink]="['/products', product.id]">{{ product.title }}</a>
</p>
<app-product-rating [rating]="product.rating"></app-product-rating>
<p class="product-price">{{ product.price | currency: "EUR" }}</p>
<app-cart-button
  class="product-cart-button"
  [product]="product"
></app-cart-button>
