<ng-container *ngIf="products$ | async as products">
  <ul class="products-list">
    <!-- rounded shadow-lg   m-3.5 border border-solid border-main-color-500-->
    <li
      *ngFor="let product of products; trackBy: trackProduct"
      class="product-list-item border border-solid border-main-color-500"
    >
      <span
        class="product-photo"
        [style.background-image]="'url(' + product.image + ')'"
      ></span>

      <p class="product-category">
        {{ product.category }}
      </p>

      <!-- <a [routerLink]="['./product/', product.id]"> {{ product.title }}</a> -->

      <p class="product-title">{{ product.title }}</p>

      <span>{{ product.rating.rate }}</span>
      <app-rating-stars [rating]="product.rating.rate"></app-rating-stars>
      <span>({{ product.rating.count }})</span>
      <p>{{product.price}}</p>
    </li>
  </ul>
</ng-container>
