.products-list {
  @apply flex flex-wrap justify-center items-start;
  overflow: auto;

  width: 100%;
  height: 100%;
}

.product-list-item {
  @apply bg-white text-black rounded overflow-hidden shadow-lg m-3.5 p-4;
  max-width: 280px;
  width: 100%;

  flex-grow: 1;
}

.product-photo {
  @apply my-2;
  width: 100%;
  height: 100px;
  position: relative;
  display: block;
  background-color: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-size: auto 100px;
}

.product-category {
  @apply capitalize
    inline-block
    text-xs
    font-semibold
    italic
    text-white
    rounded-full
    py-1
    px-2.5
    bg-main-color-500
    my-2;
}

.product-title {
  @apply font-semibold my-1.5;
  width: 100%;
  height: 40px;
  line-height: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
