@import "../../../assets/styles/product-styles.scss";

:host {
  // @apply flex flex-col h-full w-full bg-white;
  position: relative;
}

.cart-summary {
  @apply px-4 py-3 border-b border-solid bg-white border-main-color-500;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  // background-color: yellow;
  // padding: 50px;
  // font-size: 20px;
  // @apply text-2xl font-semibold;
}

.order-items {
  @apply text-xl text-gray-600;
}

.order-items-title {
  @apply inline-block mr-2;
}

.order-items-number {
  @apply inline-block;
}

.order-total-title {
  @apply inline-block text-2xl font-semibold mr-2;
}

.order-total-amount {
  @extend %product-price;
  @apply inline-block;
}
