<ng-template #cartEmpty>
  <p>emptyCart</p>
</ng-template>

<ng-container *ngIf="orderItems$ | async as orderItems">
  <ng-container *ngIf="orderItems.length > 0; else cartEmpty">
    <app-shopping-cart-summary>
      <div class="summary-actions">
        <button type="button" class="cart-button" (click)="emptyCart()">
          empty cart
        </button>
        <a [routerLink]="['checkout']" class="cart-button">checkout</a>
      </div>
    </app-shopping-cart-summary>

    <div
      *ngFor="let item of orderItems"
      class="p-4 flex flex-wrap justify-center content-center items-start"
    >
      <a [routerLink]="['/products', item.id]" class="item-photo-link">
        <app-product-photo
          class="order-item-photo"
          [url]="item.image"
        ></app-product-photo>
      </a>
      <div class="flex-grow flex flex-col justify-start">
        <p class="order-item-category">{{ item.category }}</p>
        <p class="order-item-title">
          <a [routerLink]="['/products', item.id]">{{ item.title }}</a>
        </p>

        <app-product-rating [rating]="item.rating"></app-product-rating>
      </div>
    </div>
  </ng-container>
</ng-container>
