<ng-template #loader>
  <app-loader></app-loader>
</ng-template>

<ng-container *ngIf="orderItems$ | async as orderItems; else loader">
  <app-shopping-cart-summary *ngIf="orderItems.length > 0">
    <div class="summary-actions">
      <button type="button" class="cart-button" (click)="emptyCart()">
        empty cart
      </button>
      <a [routerLink]="['checkout']" class="cart-button">checkout</a>
    </div>
  </app-shopping-cart-summary>
  <app-cart-items [cartItems]="orderItems"></app-cart-items>
</ng-container>
