@import "../../../assets/styles/product-styles.scss";
@import "../../../assets/styles/button.scss";

:host {
  position: relative;
}

.cart-button {
  @extend %button-main;
  @apply mt-2.5;
  margin-right: 40px;
  &:last-child {
    margin-right: 0;
  }
}

.summary-actions {
  @apply flex flex-wrap justify-between content-start items-start;
}

@media (max-width: 480px) {
  .summary-actions {
    @apply flex-grow;
  }
  .cart-button {
    @apply mb-2.5;
  }
}

.alert-container {
  @apply bg-red-100 border border-red-400 text-red-700 font-semibold p-4 rounded relative;
}
.empty-cart-wrapper {
  @apply flex flex-wrap justify-center items-center h-full w-full p-4;
  position: relative;
}