@import "../../../../assets/styles/button.scss";
@import "../../../../assets/styles/product-styles.scss";

:host {
  @apply w-full flex flex-wrap justify-center content-center items-start;
}

.order-item-photo {
  border: 1px solid red;
  width: 100px;
}

.order-item-info {
  @apply flex-grow flex flex-col justify-start;
  max-width: 480px;
  border: 1px solid red;
  > .order-item-category {
    @extend %product-category;
  }
  > .order-item-title {
    @extend %product-title;
  }
}

.product-price {
  @extend %product-price;
}

.number-input {
  width: 120px;
  // height: 26px;
}

.item-total {
  width: 128px;
  // background-color: pink;
  @apply m-0 ml-4 text-right;
  // my-0 mx-5
  // transform: scale(0.9);
}

.order-item-delete-button {
  @extend %button;
  @apply bg-yellow-600 text-white;

  &:not(:disabled) {
    &:hover {
      @apply bg-yellow-400;
    }
  }

  > i {
    display: inline-block;
    &:last-of-type {
      @apply ml-4;
    }
  }
}
