<a [routerLink]="['/products', item.id]" class="item-photo-link">
  <app-product-photo
    class="order-item-photo"
    [url]="item.image"
  ></app-product-photo>
</a>

<div class="order-item-info">
  <p class="order-item-category">{{ item.category }}</p>
  <p class="order-item-title">
    <a [routerLink]="['/products', item.id]">{{ item.title }}</a>
  </p>
  <app-product-rating [rating]="item.rating"></app-product-rating>
</div>

<div>
  <div class="flex justify-center content-center items-center">
    <!-- <p class="product-price">{{ item.price | currency: "EUR" }}</p> -->
    <app-price [price]="item.price"></app-price>
    x
    <!-- <div>{{ item.quantity }}</div> -->
    <!-- [minValue]="0"
    [maxValue]="5" -->
    <!-- [value]="item.quantity"  -->
    <app-number-input
      class="number-input"
      [minValue]="1"
      [value]="item.quantity"
      [maxValue]="20"
      (onChange)="onQuantityUpdate($event)"
    ></app-number-input>
    <app-price class="item-total" [price]="totalAmount"></app-price>
    <button
      type="button"
      class="order-item-delete-button"
      (click)="removeFromCart()"
    >
      <i class="fas fa-shopping-basket"></i>
      <!-- <i class="fas fa-trash-alt"></i> -->
      <i class="fas fa-times"></i>
    </button>
  </div>
</div>
