:host {
  position: relative;
  width: 100%;
}

.cart-items-list {
  @apply w-full relative py-2 px-4 flex flex-col justify-start content-start items-center;
}

.cart-item {
  @apply block w-full bg-white px-3 py-4 shadow-md m-2;
  max-width: 1020px;
}
