:host {
  @apply flex flex-col justify-center items-center items-center;
  height: fit-content;
  position: relative;
}

.cart-link {
  :hover {
    @apply bg-main-color-400;
  }
}

.cart-indicator {
  height: 38px;
  width: 38px;
  @apply flex flex-col justify-center items-center items-center border border-white rounded-full;
  position: relative;
  > i {
    display: inline-block;
  }
}

.number-of-items {
  @apply text-xs font-semibold bg-white text-gray-800 px-1 rounded-full shadow-md;
  position: absolute;
  top: -0.55rem;
  display: inline-block;
  margin: auto;
  z-index: 3;
  max-width: 60px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
