:host {
  @apply flex flex-col h-full w-full bg-white;
  position: relative;
}

.header {
  @apply flex justify-between items-center items-center bg-main-color-500 py-3.5 px-5 text-white shadow-lg;
  z-index: 5;
}

.header-link {
  @apply flex justify-start items-center  text-3xl;

  &:hover {
    > .header-title {
      text-decoration: underline;
    }
  }
}

.header-title {
  @apply inline-block px-3;
}

.app-content {
  @apply flex-grow overflow-y-auto;
}
