:host {
  @apply relative flex flex-col h-full w-full bg-white font-sans bg-app-background;
}

.header {
  @apply flex justify-between content-center items-center bg-main-color-500 py-3.5 px-4 text-white shadow-md;
  z-index: 5;
  height: 64px;
}

.header-link {
  @apply flex justify-start items-center text-3xl;

  &:hover {
    > .header-title {
      text-decoration: underline;
    }
  }
}

.header-title {
  @apply inline-block px-3;
}

.app-content {
  @apply flex-grow overflow-y-auto;
}
