@import "../../../assets/styles/product-styles.scss";

.product-message-wrapper {
  @apply flex flex-wrap justify-center items-center h-full w-full p-4;
  position: relative;
}

.alert-container {
  @apply bg-red-100 border border-red-400 text-red-700 font-semibold p-4 rounded relative;
}
.product-category {
  @extend %product-category;
}
.product-details-wrapper {
  @apply p-6;
  max-width: 1020px;
  margin: auto;
}

.product-title {
  @extend %product-title;
  @apply text-2xl;
  height: 62px;
}

.product-proto-container {
  @apply border-b border-solid border-main-color-500 mb-2;
}

.product-photo-wrapper {
  @extend %product-photo-wrapper;
  height: 200px;
}

.product-description {
  @apply italic mt-2;
}

.price-button-wrapper {
  @apply flex flex-wrap justify-start items-center h-full w-full my-2;
}

.product-price {
  @extend %product-price;
  @apply mb-3;
  flex-grow: 1;
}
