@import "../../../assets/styles/product-styles.scss";

.product-details-wrapper {
  @apply p-6;
  max-width: 1020px;
  margin: auto;
}

.product-category {
  @extend %product-category;
}

.product-title {
  @extend %product-title;
  @apply text-2xl;
  height: 62px;
}

.product-photo {
  height: 200px;
  @apply my-2;
}

.product-description {
  @apply italic my-2;
  &::first-letter {
    @apply uppercase;
  }
}

// .product-proto-container {
//   @apply border-b border-solid border-main-color-500 p-3;
//   > .product-photo {
//     height: 200px;
//   }
// }

// .price-button-wrapper {
//   @apply flex flex-wrap justify-start items-center h-full w-full my-2;
// }

// .product-price {
//   @extend %product-price;
//   @apply mb-3;
//   flex-grow: 1;
// }
