@import '../../../assets/styles/product-styles.scss';

:host {
  @apply w-full h-full block bg-white;
}

.product-details-wrapper {
  @apply p-6;
  max-width: 1020px;
  margin: auto;
}

.product-category {
  @extend %product-category;
}

.product-title {
  @extend %product-title;
  @apply text-2xl;
  height: 62px;
}

.product-photo {
  height: 200px;
  @apply my-2;
}

.product-description {
  @apply italic my-2;
  &::first-letter {
    @apply uppercase;
  }
}
