<ng-container *ngIf="loading">
  <app-loader></app-loader>
</ng-container>

<ng-template #noProduct>
  <ng-container *ngIf="!loading">
    <app-alert-message [message]="'Product was not found!'"></app-alert-message>
  </ng-container>
</ng-template>

<div
  class="product-details-wrapper"
  *ngIf="product$ | async as product; else noProduct"
>
  <p class="product-category">{{ product.category }}</p>
  <h2 class="product-title">{{ product.title }}</h2>
  <app-product-photo
    class="product-photo"
    [url]="product.image"
  ></app-product-photo>
  <app-product-rating [rating]="product.rating"></app-product-rating>
  <p class="product-description">{{ product.description }}</p>
  <app-price [price]="product.price"></app-price>
  <app-product-actions [product]="product"></app-product-actions>
</div>
