@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

%button {
  @apply inline-block
  rounded-md
  px-3
  py-1 text-center;
  width: fit-content;
  &:disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }

  &:not(:disabled) {
    &:hover {
      @apply shadow-md;
    }

    &:active {
      box-shadow: none;
    }
  }
}

%button-main {
  @extend %button;
  @apply bg-main-color-400 text-white;

  &:not(:disabled) {
    &:hover {
      @apply bg-main-color-500;
    }
  }
}
