@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

%focused-input {
  outline: none;
  outline-offset: 0;
  @apply bg-main-color-500 bg-opacity-10;
}

%input {
  @apply m-0 py-0 px-2 box-border bg-white;
  min-width: 32px;
}

%invalid-input {
  @apply border-red-700;
  &:hover,
  &:focus {
    @apply bg-red-100;
  }
}
