@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.product-category {
  @apply capitalize
        inline-block
        text-xs
        font-semibold
        italic
        text-white
        rounded-full
        py-0.5
        px-2.5
        bg-main-color-500
        mt-2;
}

.product-photo {
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

%product-price {
  @apply text-2xl font-semibold;
  &::first-letter {
    @apply text-base;
    vertical-align: text-top;
    letter-spacing: 4px;
  }
}

%product-title {
  @apply font-semibold mt-0.5 mb-2;
  width: 100%;
  height: 40px;
  line-height: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

%product-photo-wrapper {
  @apply flex justify-center items-center content-center
    m-2 bg-white text-main-color-500;
  width: 100%;
  height: 100px;
  position: relative;
  overflow: hidden;

  &::after {
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    font-weight: 900;
    content: "\f02b";
    @apply text-3xl;
  }
}
