@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

%product-category {
  @apply capitalize
        inline-block
        text-xs
        font-semibold
        italic
        text-white
        rounded-full
        py-0.5
        px-2.5
        bg-main-color-500;
  width: fit-content;
}

%product-title {
  @apply font-semibold pr-2;
  width: 100%;
  height: 46px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  > a {
    &:hover {
      text-decoration: underline;
    }
  }
}

