:host {
  width: 100%;
  height: 100%;
  display: block;
}

.products-list {
  @apply
  w-full
  h-full
  grid
  gap-4
  content-start
  grid-cols-1
  sm:grid-cols-2
  md:grid-cols-3
  xl:grid-cols-4
  2xl:grid-cols-5;
}

.product-list-item {
  @apply block bg-white text-black p-3 pl-4 shadow-md;
}
